[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
gitpython = "*"
requests = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
